.portfoGrid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.portfoGrid {
  grid-template-columns: 0.2fr 0.4fr 0.4fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas: "header header header" "navi videos1 videos2" "footer footer footer";
}
.portfoGrid_Header {
  grid-area: header;
  background-color: rgb(180, 240, 180);
}
.portfoGrid_Nav {
  grid-area: navi;
}
.portfoGrid_Videos1 {
  grid-area: videos1;
  background-color: rgb(180, 240, 180);
}
.portfoGrid_Videos2 {
  grid-area: videos2;
  background-color: rgb(180, 240, 180);
}
.portfoGrid_Foot {
  grid-area: footer;
}

.portGridFoot {
  grid-area: footer;
}

* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.container-propio-fuentes {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  padding-right: 3rem;
}
@media screen and (max-width: 576px) {
  .container-propio-fuentes {
    font-family: "Inter", sans-serif;
    font-size: 18px;
  }
}

.navbar-propio {
  background-color: #d8f3dc;
  opacity: 0.5;
}
.navbar-propio-items {
  position: absolute;
  top: 70px;
  right: 32px;
}
@media screen and (max-width: 576px) {
  .navbar-propio-items {
    position: absolute;
    top: 140px;
    right: 32px;
  }
}

.navbar-propio-bg-portfo {
  opacity: 1;
}

/*------------------------- Video Fondo--------------------------*/
.Video__Fondo {
  position: fixed;
  min-width: 100%;
  min-height: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

/*--------------------INDEX POSITION --------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1FR, 3FR;
  grid-template-rows: 1FR, 3FR;
  column-gap: 20px;
  grid-template-areas: "linea texto" "barra texto";
}

/*---------------------barra redes sociales izquierda ----------------- */
.v-line {
  border-left: thick inset #d8f3dc;
  height: 100%;
  left: 85%;
  position: relative;
  height: 50px;
  width: 50px;
  grid-area: linea;
}
@media screen and (max-width: 576px) {
  .v-line {
    display: none;
  }
}

.nav_ul {
  height: 570px;
  width: 100px;
  margin-left: 0px;
  padding: 80px;
  grid-area: barra;
}
@media screen and (max-width: 576px) {
  .nav_ul {
    display: none;
  }
}
.nav_ul_vertical {
  list-style-type: none;
  opacity: 0.5;
}

.nav_ul_footer {
  display: inline;
}
@media screen and (min-width: 576px) {
  .nav_ul_footer {
    display: none;
  }
}

/* ---------------animacion redes sociales --------------------- */
.icon:hover i {
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
.nav_vertical_pages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ---------------------footer------------------------------- */
footer {
  background-color: #d8f3dc;
  opacity: 0.5;
  height: 75px;
}
footer h2 {
  font-family: "Inter", sans-serif;
  text-align: end;
  padding-top: 1rem;
  padding-right: 3rem;
}
@media screen and (max-width: 576px) {
  footer h2 {
    position: fixed;
    bottom: 923px;
  }
}
footer h2_position_text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 200px;
}

.footer_contacto {
  text-decoration-line: none;
}

/*------------------------TEXTO INDEX----------------------*/
.texto-index {
  grid-area: texto;
  justify-self: end;
}
.texto-index h1 {
  font-family: "Libre Franklin", sans-serif;
  color: aliceblue;
  font-size: 150px;
  text-align: end;
  padding-right: 3rem;
  padding-top: 3rem;
}

/* ----------------------------SOBRE MI-------------- */
.v-line-sobremi {
  border-left: thick inset #d8f3dc;
  height: 100%;
  margin-left: 7%;
  position: absolute;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 576px) {
  .v-line-sobremi {
    display: none;
  }
}

.sobremi__textonuevo {
  font-family: "Inter", sans-serif;
  font-size: 28px;
}
@media screen and (max-width: 1710px) {
  .sobremi__textonuevo {
    display: flex;
    flex-direction: row;
  }
}

.sobremi_imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  /* height: 600px;
  width: 600px; */
}
@media screen and (max-width: 1710px) {
  .sobremi_imagen {
    height: 300px;
    width: 300px;
  }
}

/* ---------------contacto-------------------- */
.contacto_propio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
