*{
    margin: 0;
    padding: 0;
}


/* NAVBAR */
.container-propio-fuentes{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    
    
    }
.navbar-propio{
    background-color: #d8f3dc;
    opacity: 0.5;
    
}


/* Video Fondo */
.Video__Fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:-1;

}

/*barra redes sociales izquierda  */
.nav_ul_vertical{
    list-style-type: none;
    /* background-color: #d8f3dc; */
    opacity: 0.5;
    height: 200px;
    width: 75px;
    margin-left: 0px;
    padding: 4px;
}
.nav_vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

/* footer */
footer{
    background-color: #d8f3dc;
    opacity: 0.5;
    height: 75px;
    

}
footer h2{
    font-family: 'Inter', sans-serif;
    text-align: end;
    padding-top: 1rem;

}